
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  touch-action: pan-y;
}

html {
  font-size: 20px;
}

#app {
  height: 100%;
}

html,
body {
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, #f5f1f1 30%, #eff1f3 45%, #f7f4ee 71%, #efefef 91%);
  border: 0;

  font-family: 'Comic Sans MS', 'Helvetica Neue', 'Microsoft Yahei',
    -apple-system, sans-serif !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

body {
  cursor: url('/default.cur'),
    auto !important;
}

img,
a {
  cursor: url('/pointer.cur'),
    auto !important;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

//标题
.post-card-title {
  width: 100%;
  height: 2.4rem;
  line-height: 2.4rem;
  background: hsla(0, 0%, 100%, .6) !important;
  box-shadow: 0 1em 4em .5em #d7d7d7 !important;
  border-radius: 13px !important;
  color: #3d3c3d;
  text-align: center;
  letter-spacing: 4px;
  font-size: 1.4rem;
  font-family: Comic Sans MS, Helvetica Neue, Microsoft Yahei, -apple-system, sans-serif;
}